  <h1 class = "text-center">Choose a costume</h1>
    <%= form_tag costumes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a costume"%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

<div class="container mb-5">

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="container mb-5">
    <div class= "row">
      <div class="cards mb-3">
        <% @costumes.each do |costume| %>
          <%= link_to costume_path(costume), class:"text-decoration-none" do %>
            <div class="card-trip pt-3">
              <%= cl_image_tag costume.photo.key  %>
              <div class="card-trip-infos">
                <div class="w-100 ">
                  <h2 class="mb-3"> <%= costume.name %> </h2>
                  <div class="d-flex justify-content-between align-items-end">
                    <div>
                      <p class="mb-2"><i class="fa-solid fa-location-dot" style="font-size:17px;"></i> <%= costume.location %></p>
                      <p><i class="fa-solid fa-shirt"></i> <%= costume.size %> </p>
                    </div>
                    <div>
                      <p> <i class="fa-solid fa-sterling-sign me-1"></i><%= costume.price %>0 /day</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
     </div>
</div>
