<div class="container">

      <h1 class = "text-center mt-3">Choose Your Costume!</h1>
      <div class="col-5 align-item-center mb-3">

        <%= form_tag costumes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Enter costume name..."%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
      </div>
  <div class="row">
    <div class="col-8">
        <div class="cards mb-3">
          <% @lasttwelve.each do |costume| %>
            <%= link_to costume_path(costume), class:"text-decoration-none" do %>
            <div class="card-trip pt-3">
              <%= cl_image_tag costume.photo.key  %>
              <div class="card-trip-infos">
                <div class="w-100 ">
                  <h2 class="mb-3"> <%= costume.name %> </h2>
                  <div class="d-flex justify-content-between align-items-end">
                    <div>
                      <p class="mb-2"><i class="fa-solid fa-location-dot" style="font-size:17px;"></i> <%= costume.location %></p>
                      <p><i class="fa-solid fa-shirt"></i> <%= costume.size %> </p>
                    </div>
                    <div>
                      <p> <i class="fa-solid fa-sterling-sign me-1"></i><%= costume.price %>0 /day</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    </div>


    <div class="col-4">
      <div style="width: 100%; height: 85vh; position: sticky; top: 15px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
