<div class="container">
  <h1 class = "text-center">Flex your Frippery</h1>
  <div class="container mb-5">
    <div class= "row">
      <div class="cards mb-3">
        <% @costumes.each do |costume| %>
          <%= link_to costume_path(costume), class:"text-decoration-none" do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path costume.photo.key %>')">
              <h2> <%= costume.name %> </h2>
              <%# <p class="fs-6"> <%= costume.location %>
              <%# <p class="fs-6"> <%= costume.price %>
              <%# <p class="fs-6"> <%= costume.size %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
