

<div class="wrapper container col-4">
  <div class="container col-6">
    <h3 class="text-center">Book <%=@costume.name %> costume</h3>
    <%= simple_form_for [@costume, @booking] do |f| %>
      <%= f.input :start_date, as: :date, html5: true, input_html:{class: "mb-1"}, input_html:{oninput:"myFunction();"}%>
      <%= f.input :end_date, as: :date, html5: true, input_html:{class: "mb-3"}, input_html:{oninput:"myFunction();"} %>
      <h5 class="mt-5 ms-5">Total Price: £<span id="totalPrice">0</span></h5>
      <hr>
      <%=f.submit"Create Booking", class: "btn btn-success mt-3 ms-5"%>
    <% end %>
  </div>
</div>

<script>
    function myFunction() {
        var start = document.getElementById("booking_start_date").value;
        //console.log(start);
        var date = start.split("-");
        var startMonth = date[1];
        var startDay = date[2];
        var startYear = date[0];
        var startDate;
        startDate = (`'${startMonth}/${startDay}/${startYear}'`);

        //console.log(startDate);
        var end = document.getElementById("booking_end_date").value;
        var endDate = end.split("-");
        var endMonth = endDate[1];
        var endDay = endDate[2];
        var endYear = endDate[0];
        var endDate;
        endDate = (`'${endMonth}/${endDay}/${endYear}'`);
        //console.log(startDate);
        //console.log(endDate);
        const date1 = new Date(`${startDate}`);
        //console.log(date1);
        const date2 = new Date(`${endDate}`);
        const diffTime = Math.abs(date2 - date1);
        //console.log(diffTime);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        //console.log(diffTime + " milliseconds");
        var price = '<%=@costume.price%>';
        //console.log(`${price}`);
        var totalPrice = price * diffDays;
        //console.log(totalPrice);
        document.getElementById("totalPrice").innerHTML = totalPrice;
    }
</script>
