<h1 class="greeting">✔ Congratulations your <%= @booking.costume.name %> costume is on its way from <%= @booking.costume.location %>!</h1>
<h1 class="greeting">The total price is £<%= @booking.total_price %>0!</h1>
<h1>Booking start date: <%= @booking.start_date %></h1>
<h1>Booking end date: <%= @booking.end_date %></h1>
